<style>
    input[type=radio]:not(.star), input[type=checkbox]:not(.star) {
        display:none;
    }
    input[type=radio]:not(.star) + label, input[type=checkbox]:not(.star) + label {
        display:inline-block;
        margin:-2px;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255,255,255,0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
        background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
        background-image: -o-linear-gradient(top,#fff,#e6e6e6);
        background-image: linear-gradient(to bottom,#fff,#e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #ccc;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        border-bottom-color: #b3b3b3;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        width:100%;
    }

    input[type=radio]:checked:not(.star) + label, input[type=checkbox]:checked:not(.star) + label{
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
        width:100%;
    }


    .rating {
        width: 202px;
        margin: auto;
        padding:10px 0 10px 0;
        margin-bottom: 10px;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
       follow these rules. Every browser that supports :checked also supports :not(), so
       it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1.3em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:200%;
        line-height:1.2;
        color:#ddd;
        text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #f70;
        text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
</style>


<view title="'Create a New Favor'">
  <content has-header="true" has-tabs="true">
    <div class="list list-inset">

      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" name="date" ng-model="newFavor.date" required>
      </label>

      <div class="item-content">
          <div style="float: left;width:50%;">
              <input id="button_me" type="radio" name="group" value="Gave" ng-model="newFavor.role" >
              <label for="button_me">Did favor for:</label>
          </div>
          <div style="float: left;width:50%;">
              <input id="received" type="radio" name="group" value="Received" ng-model="newFavor.role" >
              <label for="received">Received favor from:</label>
          </div>
      </div>

      <div class="item item-divider">
      Contact name: 
      </div>
      <label class="item item-input">
        <!--<input type="text" name="contact_name" placeholder="Contact" ng-model="newFavor.name" required>-->
        <select name="contact_name" ng-model="newFavor.name" required  style="width: 100%;" ng-options="contact.name.formatted for contact in contacts | orderBy:'name.formatted'">
        </select>
      </label>

      <div class="item item-divider">
        Describe the favor
      </div>

      <label class="item item-input">
        <textarea name="description" placeholder="Describe this favor" ng-model="newFavor.description" required></textarea>
      </label>    

    <div class="item item-divider">
      How will you rate this favor?
    </div>
<!--     <div class="item range range-balanced">
      <i class="icon ion-ios7-star-outline"></i>
      <input type="range" name="stars" min="0" max="5" ng-model="newFavor.rating" required>
      <i class="icon ion-ios7-star"></i>  <i class="icon ion-ios7-star"></i>  <i class="icon ion-ios7-star"></i>  <i class="icon ion-ios7-star"></i>  <i class="icon ion-ios7-star"></i>
    </div> -->
        <div class="rating" style="padding: 10px;">
            <input ng-click="updateSelection($event, e.id)" type="checkbox"  id="star5" class="star" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
            <input ng-click="updateSelection($event, e.id)" type="checkbox" id="star4" class="star" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
            <input ng-click="updateSelection($event, e.id)" type="checkbox" id="star3" class="star" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
            <input ng-click="updateSelection($event, e.id)" type="checkbox" id="star2" class="star" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
            <input ng-click="updateSelection($event, e.id)" type="checkbox" id="star1" class="star" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
        </div>
        <div>{{rating5}}</div>
    </div>        


    
    <button class="button button-full button-positive" ng-click="saveNewFavor()">
 Save 
</button>


<!--   {{newFavor}} -->


    </div>
  </content>
</view>